$active-bg:rgb(134, 123, 123);
$hover-bg:#DCD8D8;
$active-fg:black;
$passive-fg:white;
$passive-bg:#412C2D;
$menu-border-color:#412C2D;
$menu-border-width:1px;
$tree-background:beige;
$active-shadow-color:#B0DFF5;
$light-gray: #DCD8D8;